// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



body {
	font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-family: $font-family--primary;
	// background: #ffc600;
}

header {
  text-align:center;
  padding: em(48px) 0;
}

// h1 {
// 	font-weight: $font-weight--light;
// 	font-size: em(42px);
// 	line-height: (46px / 42px);
// 	margin-bottom: em(70px, 42px);
// }

h2 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
  font-size: em(24px);
}

.container {
	position: relative;
	@include container-fixed;
	@include clearfix;
	
	@media (min-width: $bp-tablet) {
		@include container-fixed(30px);
		width: $container-sm;
	}
	
	@media (min-width: $bp-desktop) {
		width: $container-md;
	}
	
	@media (min-width: $bp-lg-desktop) {
		width: $container-lg;
	}
	
	
	border: 1px solid red;
	
}

.container-fluid {
	@include container-fixed;
	border: 1px solid blue;
}


