// ==========================================================================
// Main
// ==========================================================================
html {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

header {
	background: #ffcc60;
	position: relative;
	padding: 0;
	
	.site-logo {
		padding: 25px;
		display: inline-block;
		vertical-align: top;
	}
	
	nav {
		// margin-top: 10px;
		position: relative;
		float: right;
		display: block;
		height: 100% !important;
	}
	
	.site-logo {
		float: left;
		// background: salmon;
	}

	
	.main-nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: relative;
		display: block;
		vertical-align: top;
		height: 100%;
		
		&__item {
			// display: none;
			position: relative;
			float: left;
			display: block;
			opacity: 1;
			// height: 100%;
			line-height: 93px;
			border-bottom: 5px solid transparent;
			// transition-delay: 1s;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			z-index: 1;
			
			&:hover {
				border-color: salmon;
				
				a {
					color: salmon;
				}
			}
				
			a {
				text-decoration: none;
				text-transform: uppercase;
				padding: 10px 20px;
				height: 100%;
				color: #fff;
				
			}
			
			&:last-child {
				color: black;
				padding-right: 25px;
			}
			
			&.expand {
				opacity: 0;
				z-index: -1;
			}
			
		}
	}
}

.main-nav__search {
	position: relative;
	
	.search-wrap {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		padding-left: 45px;
		line-height: 93px;
		transition: width 0.4s ease-in-out;
		// border: 1px solid red;
		z-index: 10;
		
		#search {
			width: 100%;
			margin: 6px auto;
			// padding-left: 0;
			opacity: 0;
			padding: 5px 25px 5px 10px;
			border: 0;
			outline: 0;
			background: transparent;
			border-bottom: 1px solid rgb(105,105,105);
			// transition: all 0.5 ease-in-out;
			
			&.open {
				opacity: 1
			}
		}
		
		&.expand {
			width: 500px;
			height: 0;
		}
	}
	
	.search-trigger {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		
	}
}

footer {
	
	background: #ffcc60;
	padding: 20px 50px;
	position: relative;
	
	.logo {
		float: left;
	}
	
	.footer-nav {
		float: right;
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		li {
			float: left;
			
			a {
				padding: 10px 25px;
				text-decoration: none;
				text-transform: uppercase;
				color: #fff;
				line-height: 50px;
			}
		}
	}
	
	.copyright {
		clear: both;
		margin-top: 10px;
	}
	
}

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }


.main {
	width:100%;
	background: tomato;
	padding: 80px 0;	
	
	p {
		margin: 0;
		padding: 0;
		vertical-align: bottom;
	}
	
	.box {
		
		&-wrapper{
			width: 100%;
			margin: 0 auto;
			padding: 20px 50px;
		}
		
		&-1 {
			background: steelblue;
		}
		
		&-2 {
			// border: 1px solid #fff;/
		}
	}
	
	.col {
		float: left;
	}
	
	.secondary {
		width: 40%;
	}
	
	.primary {
		width: 60%;
	}
}

figure {
	position: relative;
	margin: 0;
	line-height: 0;
	z-index: 9;
	// .fa-map-marker {
	// 	color: rgb(19, 43, 102);
	// 	position: absolute;
	// 	top: -15px;
	// 	right: -15px;
	// }
	.fa-stack {
		color: rgb(19,43,102);
		position: absolute;
		top: -15px;
		right: -15px;
		z-index: 10;
	}
	
	img {
		width: 100%;
		max-width: 100%;
		display: block;
	}
	
	figcaption {
		font-size: .9em;
		line-height: 1.5;
		color: #fff;
		padding: 1em;
		position: absolute;
		bottom: 0;
		width: 100%;
		opacity: 0;
		background: rgba(19,43,102, .85);
		transition: opacity 0.6s ease-in-out;
	}
	
	&:hover {
		figcaption {
			opacity: 1;		}
	}
}


.floats-lesson {
	
	margin: 0 auto;
	
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		border: 5px solid #ffcc60;
	}
	
	p {
		padding: 0;
		margin: 0;
		margin-top: 10px;
	}

}



@for $i from 1 through $g-col-count {
	
	$context: g-context($g-col-width, $g-col-count, $g-gutter-width);
	$target: ($g-col-width * $i ) + ($g-gutter-width * ($i - 1));
	
	//generate column modifier classes
	.grid__col--#{$i} {
		width: percentage($target / $context);
	}
}