
.hamburger-button {
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
	height: 6px;
	position: absolute;
	padding: 0;
	z-index: 1;
	top: 40px;
	right: 0;
	
	span {
		position: absolute;
		right: 0;
		// top: 20px;
		background: tomato;
		width: 100%;
		height: 4px;
		border-radius: 2px;

	}
}

.hamburger {
	
	&.active {
		// transform: translateX(200px);
	}
}


.image-grid {
	text-align: center;
	margin-bottom: 15px;
	overflow: hidden;
	display: inline-block;
	
	.hover-overlay {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: relative;
		
		&:hover {
			img {
				transform: scale(1.2);
				transition: all 0.5s ease;
			}
		}
	}
	
	img {
		max-width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: middle;
		// border: 12px solid #ffc600;
		
	}
}

.countdown {
	text-align: center;
	padding-top: floor(($grid-gutter-width / 2 ));
	padding-bottom: ceil(($grid-gutter-width / 2));
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	
	h1 {
		font-size: em(72px);
	}
	
	h2 {
		font-size: em(60px);
	}
	
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
}

.clock{
	display: inline-block;
	@include padding-vertical();
	// border: 1px solid #ffc600;
	margin-left: auto;
	margin-right: auto;
	
	
	.cbox-1 {
		float: left;
		text-align: center;
		padding: 15px 12px 14px;
		background-color: rgba(229,229,229, 0.6);
		display: inline-block;
		margin-right: 5px;
		border-bottom: 2px solid rgb(216,0,4);
	}
	
	span.cbox-1-digit {
		font-size: 35px;
		line-height: 35px;
		font-weight: 700;
	}
	
	span.cbox-1-txt {
		font-size: 14px;
		line-height: 14px;
		font-weight: 500;
		display: block;
		padding-top: 2px;
	}
}

.site-sponsors {
	
	.slick-prev,
	.slick-next {
		color: black;
		font-size: 2em;
		
		&:hover {
			color: inherit;
		}
	}
	
	.slick-prev {
		left: 0 !important;
	}
	
	.slick-next {
		right: 0 !important;
	}
	
	.slick-slider {
		margin-bottom: 0 !important;
	}
	
	.sponsors-slider {
		padding-top: 25px;
		padding-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		
		@media screen and (min-width: 768px) {
			padding-left: 70px;
			padding-right: 35px;
		}
	}
	
	.sponsor {
		margin: 0;
		padding: 0;
		// border: 1px solid blue;
		height: auto;
		// width: 250px !important;
		outline: 0;
		
		&:active,&:focus,&:hover {
			outline: 0;
		}
		
		img {
			border: none;
		}
	}
}

.about-feature {
	background: #21abb4;
	// padding: 20px 20px;
	
	.container-auto {
		margin-right: auto;
		margin-left: auto;
		max-width: 1084px;
		width: 100%;
	}
}


footer {
	position: relative;
	
	.fa-chevron-circle-up {
		display: none;
		position: fixed;
		right: 10px;
		bottom: 10px;
		color: #eee;
		z-index: 40;
		// background-color: transparent;
		
		&.is-visible {
			display: block;
		}
	}
}

@media screen and (min-width: 320px ) {
	.feature-content {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}
	
	[class^='col-'] {
		padding: 20px;
	}
	
	.col-3 {
		background: purple;
	}
}
	
@media screen and (min-width: 768px) {

	.col-1,
	.col-2 {
		float: left;
		width: 50%;
	}

	.col-3 {
		clear: both;
		width: 100%;
	}
}

@media screen and (min-width: 1084px) {

	.feature-content {
		padding-left: 25px;
		padding-right: 25px;
		width: 100%;
		// border: 1px solid red;
	}
	
	[class^='col-'] {
		padding: 40px 20px;
	}

	.col-1,
	.col-2,
	.col-3 {
		float: none;
		display: inline-block;
		margin-right: -5px;
		// box-sizing: border-box;
		width: calc(100% / 12 * 4);
		// width: 33.333333%;
		// border: 2px solid black;
	}
}
